* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll !important;
}

body {
  font-family: "PlayfairDisplay";
  line-height: 1.42857;
  margin: 0;
  overflow-x: hidden;
}

.App {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 8rem;
}

.nav {
  display: block;
  height: 105px;
  position: fixed;
  z-index: 1;
}

.nav_header {
  display: block;
  height: 1.5rem;
}

.About {
  opacity: 0.7;
  font-family: "AnonymousPro-Regular", monospace;
  z-index: 100;
  font-size: 0.6em;
  color: #343434;
  position: fixed;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1.3;
  font-size: 1.4rem;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.About:hover {
  cursor: crosshair;
}

.Work {
  opacity: 0.7;
  font-family: "AnonymousPro-Regular", monospace;
  z-index: 100;
  font-size: 1.4rem;
  color: #343434;
  position: fixed;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1.3;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Work:hover {
  cursor: crosshair;
}

.Contact {
  opacity: 0.7;
  font-family: "AnonymousPro-Regular", monospace;
  z-index: 100;
  font-size: 0.6em;
  font-size: 1.4rem;
  color: #343434;
  position: fixed;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1.3;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Contact:hover {
  cursor: crosshair;
}

.Title {
  opacity: 0.8;
  font-family: "arial";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -4px;
  font-size: 2.6em;
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.Title:hover {
  cursor: crosshair;
}

span {
  position: relative;
  display: block;
}

span:before,
span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.Image {
  display: block;
  bottom: 15%;
  height: 48vw;
  min-height: 400px;
  min-width: 400px;
  position: absolute;
  left: 70px;
  width: auto;
  z-index: -10;
}

.main {
  padding-top: 105px;
  margin: 0;
  width: 100%;
}

.containerHome {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 85vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  line-height: 6rem;
  background-color: #343434;
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

.footer .container p {
  font-family: "arial";
  letter-spacing: -0.5;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
}

.linkedinImage {
  margin: auto;
  background-color: black;
}

.socialMedia {
  display: block;
  width: 4rem;
  bottom: 150px;
  margin-bottom: 8rem;
  margin-right: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 100;
  opacity: 0.5;
}

.Icons {
  padding: 0;
  z-index: 100;
}

.socialMedia .Icons a {
  display: flex;
  height: 4rem;
  overflow: hidden;
  margin: 1rem 0;
  z-index: 100;
}

.Linkedin:hover {
  cursor: crosshair;
}

.Instagram:hover {
  cursor: crosshair;
}

.Github:hover {
  cursor: crosshair;
}

.containerAbout {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10rem;
}

.containerAbout:hover {
}

.AboutTitle {
  font-family: arial;
  font-size: 2.7rem;
  text-transform: lowercase;
  font-weight: 900;
  letter-spacing: -10;
  margin-bottom: 0;
}
